.dialog-body {
    -fx-spacing: 10;
}

.form-field {
    -fx-spacing: 10;
    -fx-alignment: baseline-left;
}

.table-view, .text-field, .text-area {
    -fx-font-family: Consolas, monospace;
}

.button {
    -fx-padding: 0.3em 1em;
}