[*]
charset = utf-8
end_of_line = lf

[*.{java,xml}]
indent_size = 4
indent_style = space

[*.java]
ij_java_class_count_to_use_import_on_demand = 3
ij_java_names_count_to_use_import_on_demand = 3
ij_java_blank_lines_around_field = 1
ij_any_line_comment_add_space = true
